body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("splash.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.startButton{
    border: none;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
    opacity: 0.8;
}
.startButton:hover {
    background-color: #555;
    color: white;
}

.editButton{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
    opacity: 0.8;
      }
.editButton:hover {
    background-color: #555;
    color: white;
}

.splash-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}