

.mdl-layout__header-row {
            padding: 0 16px 0 16px;
}
a {
            cursor: pointer;
}

.title-text {
  text-align: center;
  position: relative;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.deleteButton{
    color:crimson;
}

.showButton{
    background-color: green;
    color:white;
}