.coordinates {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: relative;
    bottom: 40px;
    left: 10px;
    padding: 5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
}

.myDIV {
display: none;
  width: 100%;
  padding: 100px 10px;
  background-color: white;
     position: relative;
}